@import 'src/style/vars.scss';

.content {
    width: 60%;
    h1 {
        margin: 0px;
        font-size: 48px;
        color: $font-dark;
    }
    .overview {
        font-size: 1.1rem;
    }
    ul {
        li {
            margin-top: 8px;
            span {
                color: $font-dark;
                font-weight: bold;
            }
        }
    }
}