@import 'src/style/vars.scss';

.search {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 48px;
    }
    .search-input {
        width: 900px;
        height: 80px;
        position: relative;
        input {
            width: 100%;
            height: 100%;
            border: 2px solid $primary;
            border-radius: 5px;
            outline: none;
            padding: 0px 26px;
            font-size: 28px;
            color: $font-grey;
        }
        .search-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 60px;
            width: 120px;
            background: linear-gradient(90deg, rgb(235, 194, 47) 0%, rgb(241, 192, 15) 100%);
            border: none;
            border-radius: 5px;
            font-size: 24px;
            cursor: pointer;
            box-shadow: 0px 0px 6px rgba(245, 197, 24, .3);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .results {
            margin-top: 4px;
            margin-bottom: 16px;
            position: absolute;
            z-index: 2;
            width: 100%;
            min-height: 50px;
            max-height: 500px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 6px rgba(0,0,0,.5);
            overflow: auto;
            .no-results {
                margin-left: 8px;
            }
            .result {
                width: 100%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;
                border-radius: 5px;
                .description {
                    display: flex;
                    align-items: center;
                    h4 {
                        margin: 0px;
                        font-size: 30px;
                    }
                    span {
                        margin: 0px;
                        margin-left: 8px;
                    }
                }
                .actions-container {
                    height: 100%;
                    display: flex;
                    img {
                        width: 64px;
                        height: 100%;
                    }
                    .actions {
                        width: 200px;
                        height: 100%;
                        margin-right: 16px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .add-favourite {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            span {
                                font-size: .9rem;
                                margin-left: 8px;
                            }
                        }
                        .add-to-watch-later {
                            margin-top: 8px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            span {
                                font-size: .9rem;
                                margin-left: 8px;
                            }
                        }
                    }
                }
                &:hover {
                    background-color: rgba(0,0,0,.05);
                }
            }
        }
    }
}

.loading {
    display: inline-block;
    width: 46px;
    height: 46px;
}
.loading:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid $font-dark;
    border-color: $font-dark transparent $font-dark transparent;
    animation: loading 1.2s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}